html,
body {
    width: 100%;
    height: 100%;
    background: radial-gradient(ellipse at center, #160909 0%,#160909 45%,#291111 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.halloween {
  position: absolute;
    top: 600px;
    left: 0;
    
}

.pumpkin {
    height: 33em;
    width: 45em;
    background: #f68632;
    border: 1.2em solid #a14907;
    border-radius: 70%/110%;
    position: relative;
    box-shadow: inset 0 0px 60px #a14907, 0 0 90px -12px red;
    z-index: 1;
    animation: float 5s infinite;
}


.pumpkin .texture {
    height: 32.4em;
    width: 19.5em;
    position: absolute;
    bottom: -1.2em;
    left: 12em;
    border-radius: 70%/130%;
    border-bottom: 1.5em solid #a14907;
    border-top: 1.5em solid #a14907;
  }

  .pumpkin .texture:after {
    content: "";
    display: block;
    height: 32.1em;
    width: 36m;
    position: absolute;
    bottom: -1.2em;
    left: -7.5em;
    border-radius: 70%/130%;
    border-bottom: 1.5em solid #a14907;
    border-top: 1.5em solid #a14907;
  }

  .pumpkin .root {
    background: #517f54;
    height: 8.4em;
    width: 3.75em;
    position: absolute;
    left: calc(22.5em - 1.625em);
    top: -8.1em;
    transform: rotate(5deg);
    border-radius: 30% 20% 70% 10%;
    z-index: -1;
    box-shadow: inset 0 0px 30px #29412b;
  }

  .pumpkin .eye {
    position: absolute;
    width: 0;
    height: 0;
    border-top: 0.8em solid transparent;
    top: 8.4em;
  }

  .pumpkin .eye.right {
    right: 11.1em;
    transform: rotate(30deg);
    border-bottom: 6.3em solid transparent;
    border-left: 7.2em solid #401d03;
  }

  .pumpkin .eye.left {
    left: 9.1em;
    transform: rotate(-30deg);
    border-bottom: 6.3em solid transparent;
    border-right: 7.2em solid #401d03;
  }

  .pumpkin .mouth {
    width: 12em;
    height: 5em;
    position: absolute;
    bottom: 4.5em;
    border-bottom: 3em solid #401d03;
  }

  .pumpkin .mouth.right {
    right: 10.8em;
    border-radius: 0 0 100% 0;
  }

  .pumpkin .mouth.left {
    left: 10.8em;
    border-radius: 0 0 0 100%;
  }
  .pumpkin .teeth {
    width: 1.5em;
    height: 1.7em;
    position: absolute;
    top: 23.1em;
    left: 21.75em;
    border-top: 2.4em solid transparent;
    border-bottom: 0em solid transparent;
    border-left: 2.4em solid #401d03;
  }

  .pumpkin .teeth:before, .pumpkin .teeth:after {
    content: "";
    display: block;
    position: absolute;
    width: 1;
    height: 1;
    border-top: 2.4em solid transparent;
  }

  .pumpkin .teeth:before {
    right: 6.6em;
    top: -1.95em;
    transform: rotate(30deg);
    border-bottom: 1.5em solid transparent;
    border-left: 3em solid #401d03;
  }

  .pumpkin .teeth:after {
    left: 3em;
    top: -2.65em;
    transform: rotate(30deg);
    border-bottom: 1.5em solid transparent;
    border-left: 3em solid #401d03;
  }

  .ghost {
    height: 11em;
    width: 15em;
    background: #fff;
    border: 0.4em solid #ffeecc;
    border-radius: 70%/110%;
    position: absolute;
    left: 1000px;
    box-shadow: inset 0 0px 20px #000111, 0 0 30px -4px red;
    z-index: 1;
    animation: float 5s infinite;
}

.ghosttexture {
  height: 10.8em;
  width: 6.5em;
  position: absolute;
  bottom: -0.4em;
  left: 4em;
  border-radius: 70%/130%;
  border-bottom: 0.5em solid #ffddff;
  border-top: 0.5em solid #ffddff;
}
 .shadow {
    margin: 10% auto 0;
    background: #000;
    width: 690px;
    height: 150px;
    border-radius: 50%;
    animation: zoom 5s infinite;
  }

  .ghostshadow {
    margin: 10% auto 0;
    background: #000;
    width: 230px;
    height: 50px;
    border-radius: 50%;
    animation: zoom 3s infinite;
  }

  @keyframes float {
    0%, 100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10%);
    }
  }

  @keyframes zoom {
      0%, 100% {
          transform: scale(1);
      }

      50% {
          transform: scale(0.8);
      }
  }

